/*.card {*/
/*  background: transparent;*/
/*  width: 150px;*/
/*  height: 200px;*/
/*  cursor: pointer;*/
/*  overflow: hidden;*/
/*  perspective: 1000px;*/
/*  transition: transform 0.8s;*/
/*  @apply flex items-center justify-center text-white text-3xl font-bold rounded-lg shadow-lg;*/
/*}*/

/*.card-inner {*/
/*  @apply relative w-full h-full text-center ;*/
/*  transform: rotateY(-180deg);*/
/*  transform-style: preserve-3d;*/
/*}*/

/*.card:not(active):hover {*/
/*  !*transform: translateY(-16px);*!*/
/*}*/

/*.card:hover .card-inner {*/
/*  transform: rotateY(0deg) ;*/
/*}*/

/*.card-front, .card-back {*/
/*  @apply absolute bg-blue-500 w-full h-full;*/
/*  -webkit-backface-visibility: hidden;*/
/*  backface-visibility: hidden;*/
/*}*/

/*.card-front {*/
/*  background: white;*/
/*}*/

/*.card-back {*/
/*  background: green;*/
/*  transform: rotateY(180deg);*/
/*}*/

.card {
  background-color: transparent;
  width: 150px;
  height: 200px;
  perspective: 1000px;
  @apply cursor-pointer rounded-lg;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  @apply shadow-md rounded-lg;
}

.card:hover .card-inner {
  transform: translateY(-88px);
  box-shadow: 0px 0px 4px 4px green;
  z-index: 20;
  /*border-color: red;*/
}

.card:active .card-inner {
  transform: scale(.95)  translateY(-88px);
}

/*.card:hover {*/
/*  z-index: 20;*/
/*}*/

/*.card:not(.locked):hover .card-inner {*/
/*  transform: rotateY(180deg);*/
/*}*/

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #bbb;
  color: black;
}

.card-front {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
